<?php
/**
 * As configurações básicas do WordPress
 *
 * O script de criação wp-config.php usa esse arquivo durante a instalação.
 * Você não precisa usar o site, você pode copiar este arquivo
 * para "wp-config.php" e preencher os valores.
 *
 * Este arquivo contém as seguintes configurações:
 *
 * * Configurações do banco de dados
 * * Chaves secretas
 * * Prefixo do banco de dados
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Configurações do banco de dados - Você pode pegar estas informações com o serviço de hospedagem ** //
/** O nome do banco de dados do WordPress */
define( 'DB_NAME', "{{ db_name }}" );

/** Usuário do banco de dados MySQL */
define( 'DB_USER', "{{ db_user }}");

/** Senha do banco de dados MySQL */
define( 'DB_PASSWORD', "{{ db_password }}");

/** Nome do host do MySQL */
define( 'DB_HOST', "{{ db_host }}");

/** Charset do banco de dados a ser usado na criação das tabelas. */
define( 'DB_CHARSET', 'utf8mb4' );

/** O tipo de Collate do banco de dados. Não altere isso se tiver dúvidas. */
define( 'DB_COLLATE', '' );

/**#@+
 * Chaves únicas de autenticação e salts.
 *
 * Altere cada chave para um frase única!
 * Você pode gerá-las
 * usando o {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org
 * secret-key service}
 * Você pode alterá-las a qualquer momento para invalidar quaisquer
 * cookies existentes. Isto irá forçar todos os
 * usuários a fazerem login novamente.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         '9=n(KpyIA;::kA^T1W&J3%MUwo-+GC>+Au;mgqF]aJm.{W}y;fF//FvwyvP,PH,p');
define('SECURE_AUTH_KEY',  'pByGk~WC+]([Y+~cqD]Zv,~Z3I|-+=W/0E%rI;so}_--WA82c-27C$u+oQKJNbxH');
define('LOGGED_IN_KEY',    'X-)eWabD5,bT=Lqy-7$g$6_=IIQ$A@su>$2VX}A-m(d[gYV{%]8[^rDvgnUcfE.A');
define('NONCE_KEY',        'Y[=|uNHpvF5|%$}s6Udq/.{ZD7BKG,{%d_O`FAdZ^nczPyRYjM7Lx5;xO9+K#VW8');
define('AUTH_SALT',        '#!0*Y`B.izy 3@Pwz*M-glWL-IxkO+w57ajJFn4eVDhieL&:a~~c%*<@%lb7>!2J');
define('SECURE_AUTH_SALT', '.GBp>fI8t/Q7x`t&sx<$.~4aDFMxQ+t)AzK$aV>H;Myhk/F<F,l=Q4-+T;*3NBSY');
define('LOGGED_IN_SALT',   '!c4z,Ao]@s`>{q#*XEALharh,M7Fq G`Xg Rs-9)/,_GF0.|QyHp+-{02|]`+=P3');
define('NONCE_SALT',       '=Xk+hoPk(C#.>*agT{W$-K^paE>ASDP5>@Js7-C|@kG3_zUG$kS1j6#to/it{&`g');

/**#@-*/

/**
 * Prefixo da tabela do banco de dados do WordPress.
 *
 * Você pode ter várias instalações em um único banco de dados se você der
 * um prefixo único para cada um. Somente números, letras e sublinhados!
 */
$table_prefix = 'wp_';

/**
 * Para desenvolvedores: Modo de debug do WordPress.
 *
 * Altere isto para true para ativar a exibição de avisos
 * durante o desenvolvimento. É altamente recomendável que os
 * desenvolvedores de plugins e temas usem o WP_DEBUG
 * em seus ambientes de desenvolvimento.
 *
 * Para informações sobre outras constantes que podem ser utilizadas
 * para depuração, visite o Codex.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Adicione valores personalizados entre esta linha até "Isto é tudo". */



/* Isto é tudo, pode parar de editar! :) */

/** Caminho absoluto para o diretório WordPress. */
if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

/** Configura as variáveis e arquivos do WordPress. */
require_once ABSPATH . 'wp-settings.php';
